@using Hotel.Model.DataModel
@model WebProje.Models.Gallery.GalleryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGalleryPage.cshtml";
}

@section Breadcrumb
{
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">Gallery</h2>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Gallery</li>
                </ol>
            </div>
        </div>
    </section>
}

@section Gallery_Title
{
    <h2 class="title_color">Royal Hotel Gallery</h2>
    <p>Who are in extremely love with eco friendly system.</p>
}

@section Gallery
{
    @foreach (Images image in Model.ImagesList)
    {
        <div class="col-md-4 gallery_item">
            <div class="gallery_img">
                <img src="/Images/Gallery/@image.Image" alt="">
                <div class="hover">
                    <a class="light" href="/Images/Gallery/@image.Image"><i class="fa fa-expand"></i></a>
                </div>
            </div>
        </div>
    }
}

@section Scripts
{
    <script src="~/Vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Vendors/isotope/isotope-min.js"></script>
}
