@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Banner Area =================-->
    @RenderSection("Banner")
<!--================Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            @RenderSection("BlogCatories",false)
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderSection("BlogArea",true)
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--ADS WIDGET-->
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="~/Images/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <!--NEWSLETTER WIDGET-->
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->