@model WebProje.Areas.Admin.Models.RoomManagement.NewRoomViewModel
@{
    ViewBag.Title = "NewRoom";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        New <strong>Room</strong>
    </div>
    @using (Html.BeginForm("NewRoom", "RoomManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="roomtype" class="form-control-label">Room Type<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.DropDownListFor(model => model.Room.RoomTypeID, new SelectList(Model.RoomTypeList, "ID", "Name"), new { htmlAttributes = new { @class = "form-control", id = "roomtype", name = "roomtype", required = "" } })
                    <small class="form-text text-muted">This is room's type.</small>
                </div>
            </div> <!--ROOM TYPE-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="roomno" class="form-control-label">Arrival Date<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Room.ID, new { htmlAttributes = new { @class = "form-control", id = "roomno", name = "roomno", type = "number", min = "100", step = "1", placeholder ="Room No", required = ""} })
                    <small class="form-text text-muted">This is room's no.</small>
                </div>
            </div> <!--ROOM NO-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="roomfloor" class="form-control-label">Floor</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Room.Floor, new { htmlAttributes = new { @class = "form-control", id = "roomfloor", name = "roomfloor", type = "number", min = "0", step = "1", placeholder = "Floor"} })
                    <small class="form-text text-muted">This is room's floor.</small>
                </div>
            </div> <!--FLOOR-->
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    }
</div>