<aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/Areas/Admin/Images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","CustomerManagement")">
                                <i class="fas fa-users"></i>Customers
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","EmployeeManagement")">
                                <i class="fas fa-user"></i>Employees
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Reservations")">
                                <i class="far fa-check-square"></i>Reservations
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-hotel"></i>Room Management
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="index.html">Rooms</a>
                                </li>
                                <li>
                                    <a href="index2.html">Room Types</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
