@using Hotel.Model.DataModel
@model WebProje.Models.About.AboutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAboutPage.cshtml";
}

@section Breadcrumb
{
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">About Us</h2>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </section>
}

@section AboutHistory
{
    @Html.Partial("_PartialAbout", Model.Page)
}

@section Facilities
{
    @Html.Partial("_PartialFacilities", Model.ServicesList)
}

@section Testimonial
{
    @Html.Partial("_PartialTestimonial", Model.TestimonialsList)
}
